body {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  overflow: visible;
  pointer-events: visibleFill;
}

line {
  stroke: grey;
  stroke-width: 0.2rem;
}

.column-number {
  font-size: xx-large;
  text-anchor: middle;
}

.move-indicator {
  font-size: x-large;
}

.row-buttons {
  fill: none;
}

.player-1 {
  fill: steelblue;
}

.player-2 {
  fill: red;
}

.container {
  width: 40%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#info {
  font-size: larger;
  margin-top: 5%;
}

#play-again {
  font-size: large;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
